<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h2 class="mb-2">Login</h2>
              <p class="lead">Don’t have an account? <a routerLink="/signup">Create a free account</a></p>
            </div>
  
            <form  #loginForm="ngForm" (ngSubmit)="login()">
              <div class="form-group mb-4">
                <label for="#">Enter username</label>
                <input
                name="username"
                [(ngModel)]="model.username"
                 type="text" 
                 class="form-control" 
                 placeholder="Enter Username">
              </div>
              <div class="form-group">
                <label for="#">Enter Password</label>
                <a class="float-right" routerLink="/forgot-password">Forget password?</a>
                <input
                name="password"
                [(ngModel)]="model.password"
                 type="password" class="form-control" placeholder="Enter Password"> 
              </div>
  
              <button type="submit" class="btn btn-main mt-3 btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>